<html>
    <head>
        <link rel="shortcut icon" href="#">
        <title>DBUI</title>
        <link href="/static/css/dbtree.css" rel="stylesheet">
        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/static/js/floatingFixed.js"></script>
        <script>
            $(document).ready(function(){
                $("#topmenu").floatingFixed({ padding: 0 });
            })
        </script>
        <!--script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script-->
    </head>
    <body>
        <div id="topmenu"">
            <div id="main_title">МОНИТОРИНГ И АРХИВИРОВАНИЕ ИЗМЕРЕНИЙ, ЗАДАВАЕМЫХ РЕЖИМОВ НА 
                <a id="main_page_link" href="https://vepp4.inp.nsk.su/" target="_blank">УСКОРИТЕЛЬНОМ КОМПЛЕКСЕ ВЭПП-4</a>
            </div>
            <div id="dbui_menu">
                <a href="." id="menu_main_button" class="menu-item">Главная</a>
                <div class="dropdown">
                    <a id="menu_data_button" class="dropbtn menu-item">Измерения</a>
                    <div class="dropdown-content">
                        <a href="/general">Основные</a>
                        <a href="/orbits">Орбиты канала v3v4</a>
                    </div>
                </div>
                <a href="/detectors" id="menu_temperature_button" class="menu-item">Распределенная температура</a>
                <a href="/t-diagnostics" id="menu_diagnostics_button" class="menu-item">Т диагностика</a>
                <a href="/contacts" id="menu_contacts_button" class="menu-item">Контакты</a>
            </div>
        </div>
        <!--div style="height: 165px;"></div-->
        {{{body}}}
    </body>
</html>