<html class="disable-scrolling">
    <head>
        <link rel="shortcut icon" href="#">
        <title>DBUI</title>
        <link href="/static/css/dbtree.css" rel="stylesheet">
        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/static/js/floatingFixed.js"></script>
        <script>
            $(document).ready(function(){
                $("#topmenu").floatingFixed({ padding: 0 });
            })
        </script>
        <!--script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script-->
    </head>
    <body class="main-flex-container">
        <div id="topmenu">
            <div id="main_title">МОНИТОРИНГ И АРХИВИРОВАНИЕ ИЗМЕРЕНИЙ, ЗАДАВАЕМЫХ РЕЖИМОВ НА 
                <a id="main_page_link" href="https://vepp4.inp.nsk.su/" target="_blank">УСКОРИТЕЛЬНОМ КОМПЛЕКСЕ ВЭПП-4</a>
            </div>
            <div id="dbui_menu">
                <a href="." id="menu_main_button" class="menu-item" target="_blank">Главная</a>
                <div class="dropdown">
                    <a id="menu_data_button" class="dropbtn menu-item" target="_blank">Измерения</a>
                    <div class="dropdown-content">
                        <a href="/general" target="_blank">Основные</a>
                        <a href="/orbits" target="_blank">Орбиты канала v3v4</a>
                    </div>
                </div>
                <a href="/detectors" id="menu_temperature_button" class="menu-item" target="_blank">Распределенная температура</a>
                <a href="/t-diagnostics" id="menu_diagnostics_button" class="menu-item" target="_blank">Т диагностика</a>
                <a href="/contacts" id="menu_contacts_button" class="menu-item" target="_blank">Контакты</a>
                <!--div class="dropdown">
                    <a id="menu_external_button" class="dropbtn menu-item" target="_blank">Другие</a>
                    <div class="dropdown-content">
                        <a href="http://vepp4-vm1:8000/webvepp" target="_blank">Конфигурация ВЭПП4</a>
                        <a href="http://vepp4-vm1:8001/interface/" target="_blank">Текущий статус ВЭПП4</a>
                        <a href="http://vepp4-vm1:8002/pvlinks/" target="_blank">Связи PV</a>
                        <a href="http://192.168.144.71:8000/vepp4journal/" target="_blank">Журнал орбит ВЭПП4</a>
                    </div>
                </div-->
            </div>
        </div>
        <!--div style="height: 165px;"></div-->
        {{{body}}}
        <div id="blocker" class="invisible">
            <div id="blocker_panel"></div>
            <button id="stop_button" onclick="cancelCurrentOrders()">Остановить загрузку</button>
        </div>
    </body>
</html>