<html>
    <head>
        <title>DBUI</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!--script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script-->
    </head>
    <body>
        {{{body}}}
    </body>
</html>