<html>
    <head>
        <title>DBUI</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
    
        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <script src="/bower_components/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>