<script>
    $("#menu_contacts_button").addClass("menu_chosen");
</script>

<div id="main_text">
Сайт находится в стадии разработки. Все предложения, вопросы и замечания собщайте по контактным номерам.
<br/><br/>
Худайбердиева Ойдин - интерфейс &nbsp;&nbsp;&nbsp; TessaMarizza@gmail.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +7(953) 887-77-14 (Telegram)
<br/>
Плотникова Ольга - база данных &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; O.A.Plotnikova@inp.nsk.su &nbsp;&nbsp;&nbsp; +7(913) 746-95-02 (WhatsApp, Telegram)
</div>