<script src="/bower_components/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="/static/js/tree.js"></script>
<script src="/static/js/timepicker.js"></script>
<script src="/static/js/chart.js"></script>
<script src="/static/js/eventshome.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/js/color.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link href="/static/css/dragula.css" rel="stylesheet">
<script src='/static/js/jquery.tooltip.js'></script>

<dialog id="dialog">
  <form method="dialog">
    <div id="timeformat">
        <div>
            <input type="radio" name="timeformat" value="ms">
            <label for="ms">Seconds</label>
        </div>
        <div>
            <input type="radio" name="timeformat" value="timestamp" id="timestamp_dialog">
            <label for="timestamp">Timestamp</label>
        </div>
    </div>
    <div id="channels_dialog"></div>
    <button type="submit" id="close_dialog">Close</button>
    <button type="submit" id="download_dialog">Download</button>
  </form>
</dialog>

<div id="topnav" class="floating">
    <table id="topnavtable">
        <tr>
            <td id="datetimerangetd">
                <div id="chosen_system_name"></div>
                <input id="datetimerange" type="text" name="datetimes" />
            </td>
            <td>
                <div id="synchronization">
                    <div>
                        <input onchange="handleSyncChange(this);"  type="radio" id="sync" name="synchronization" value="sync" checked>
                        <label for="sync">Sync</label>
                    </div>

                    <div>
                        <input onchange="handleSyncChange(this);"  type="radio" id="async" name="synchronization" value="async">
                        <label for="async">Async</label>
                    </div>
                </div>
                <!--p id="syncronize_text">Synchronize:</p>
                <label class="switch">
                    <input id="synchronization" type="checkbox" onchange="synchronizePlotsEvent(this)" checked>
                    <span class="slider round"></span>
                </label-->
            </td>
            <td>
                <div id="linetype">
                    <div>
                        <input type="radio" id="markers" name="linetype" value="markers">
                        <label for="markers">Markers</label>
                    </div>

                    <div>
                        <input type="radio" id="line" name="linetype" value="line" checked>
                        <label for="line">Line</label>
                    </div>
                </div>
            </td>
            <td class="white_space"></td>
            <td>
                <div id="search_line">
                    <input id="input_search" placeholder="Search..." value="">
                    <button id="btn_search" onclick="searchAll()"></button>
                </div>
            </div>
            </td>
        </tr>


    </table>
</div>
<div id="tree_plots" class="main-panel">
    <div id="tree_part" class="nav-flex-container resizable_hor">
        <div id="search_output"></div>
        <div id="dbtree" class="nav-scrollable-content">
            <div id="databases">
            </div>
        </div>
        <div id="tooltip"></div>
    </div>
    <div id="graphset_part" class="nav-right-container filler">
        <div id="graphset" class="nav-scrollable-content graphset">
            <div id="graph1" class="resizable active">
                <div id="chart_1" class="pchart"></div>
                <div class="close_chart"></div>
                <div class="handle"></div>
            </div>
            <div id="add_chart"></div>
        </div>
    </div>
</div>
<!--div>
<table id="tree_and_plots">
    <tr>
        <td>
            <div>
            <div id="search_output"></div>
            <div id="dbtree">
                <table id="databases" class="resizable_hor"></table>
            </div>
            <div id="tooltip"></div>
        </td>
        <td id="graphset_td">
            <div id="graphset" class="graphset">
                <div id="graph1" class="resizable active">
                    <div id="chart_1" class="pchart"></div>
                    <div class="close_chart"></div>
                    <div class="handle"></div>
                </div>
                <div id="add_chart"></div>
            </div>
        </td>
    </tr>
</table>
</div-->
<div id="mirror"></div>


<br />

<script>
    'use strict';
    window.WebSocket = window.WebSocket || window.MozWebSocket;
    var connection = new WebSocket('ws://' + window.location.hostname + ':1337');//ws://192.168.144.71:1337');//
    // nvm use --delete-prefix v13.3.0 - для запуска на web-dev 

    connection.onopen = function () {
        console.log("connection is opened")
        // connection is opened and ready to use
    };

    connection.onclose = function () {
        console.log("connection is closed")
        // an error occurred when sending/receiving data
    };

    connection.onerror = function (error) {
        console.log("connection error")
        // an error occurred when sending/receiving data
    };

    connection.onmessage = function (message) {
        defaultCursor();
        try {
            var json = JSON.parse(message.data);
            //console.log("got message "+json.title)
            switch (json.title) {
                case "channel_data":
                    console.log("channel_data",json);
                    addChannelDataInOrder(json);
                    break;
                case "full_channel_data":
                    console.log("full_channel_data",json);
                    addChannelDataInOrder(json);
                    break;
                case "orbit_data":
                    console.log("orbit_data",json);
                    addOrbitData(json);
                    break;
                case "databases":
                    console.log("databases",json);
                    displayDatabases(json.data);
                    break;
                case "tree_data":
                    console.log("tree_data",json);
                    refreshTree(json.database, json.data);
                    break;
                case "datatbl_range":
                    console.log("datatbl_range",json);
                    break;
                case "error":
                    console.log("error",json);
                    if (json.clientordernum != undefined) {
                        removeOrder(json.clientordernum);
                    }
                    alertError(json.data);
                    break;
            }
            json = null;
        } catch (e) {
            console.log(e);
            return;
        }
    };

    function sendMessageToServer(message) {
        console.log(message);
        connection.send(message);
    }

    initPicker("#datetimerange");
    initCharts();
    
    $("#topnav").appendTo("#topmenu");
    $("#menu_data_button").addClass("menu_chosen");
    $("#download_dialog").on("click",downloadChannelTxtFiles);
    $("#close_dialog").on("click",closeChartDialog);
    //$(".floating").floatingFixed({ padding: 0 });

</script>