<script>
    $("#menu_main_button").addClass("menu_chosen");
</script>

<div id="main_text">
    Сегодня невозможно представить сколько-нибудь значимый экспериментальный комплекс, который не использовал бы базы данных в качестве основы или важной составляющей для систем управления и хранения актуальной информации. База данных нашего комплекса хранит временные ряды настроек и измерений (задаваемые и измеряемые параметры инженерных систем, измерения экспериментальных систем).
На момент создания базы данных (2006г) текущие результаты различных измерительных систем фиксировались в регулярно обновляемых файлах, доступных в пределах локальной сети. В настоящий момент часть измерительных систем переведена на платформу EPICS и данные доступны в виде специальных сетевых переменных.  Исключением является система измерения температуры и защиты от перегревов, которая напрямую записывает свои данные в базу. Со всеми перечисленными источниками данных работают процессы, которые пополняют новыми значениями соответствующие таблицы базы.
</div>