
body{
    background-color: #fafafa;
    accent-color: dimgray;
}

.daterangepicker .drp-calendar{
    max-width: none!important;
}
.graphset{
    padding: 10px;
}
#v3v4_graphset{
    padding: 0;
}
::-webkit-scrollbar { width: 5px; height: 0px;}
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

.disable-scrolling{
    height: 100%;
    overflow: hidden;
}
.flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#dbtree_old{
    width: 103%;
    height: 70vh;
    overflow-y: scroll;
    padding: 0 20px;
}
#dbtree{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 20px;
}
#v3v4,#v4{
    width: 100%;
    height: 100%;
}
#orbits_table{
    width: 350px;
    height: 70vh;
}
#tabs{
    width: 100%;
}
#databases{
    width: 100%;
}
#datetimerange{
    width: 320px;
    margin: 5px 0px;
}
#chosen_system_name{
    color: #6d9c60;
    font-size: 11pt;
}
#v3v4dtr,#v4dtr{
    width: 160px;
    margin: 5px 0px;
}
#graphset_td{
    width:100%;
    height:100%;
    padding-left: 1%;
}
.greendate{
    background-color:lightgreen;
}
.filler{
    flex-grow: 3;
}

#blocker{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
#blocker_panel{
    background-color: grey;
    opacity: 50%;
    width: 100%;
    height: 100%;
}
#stop_button{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


div.graphset{
    height: 70vh;
    width: 100%;
}
div.pchart{
    width: 100%;
    height: 100%;
}
div.active{
    border: 3px solid dimgray;
}
div.close_chart{
    background-image: url("/static/images/cancel.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 3px;
    right: 3px;
    position: absolute;
    cursor: pointer;
}
div.handle{
    background-image: url("/static/images/move.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 3px;
    left: 3px;
    position: absolute;
    cursor: grab;
}
.gu-mirror div.handle{
    cursor: move;
}
#add_chart{
    background-image: url("/static/images/plus.png");
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50px;
    left: 43%;
    position: relative;
    cursor: pointer;
    margin-bottom: 40px;
}


.list-group-item{
    white-space: nowrap;
}

div.calendar-time, .test_zingchart-menu-item, #test_zingchart-text-ruler{
    display: block;
}
.resizable.orbitplot{
    margin-top: 10px;
    height: 31%;
    border: 1px solid lightgray;
}
.resizable{
    margin-top: 10px;
    height: 260px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#test_zingchart {
    position: relative;
    width: 100%;
    height: 100%;
}
#test_2 {
    position: relative;
    width: 100%;
    height: 100%;
}

#databases{
    list-style-type:none;
    padding: 0 0 0 0;
    margin-top: 10px;
}
#databases table{
    list-style-type:none;
    padding: 0;
    margin-top: 10px;
    align-content: center;
}
#databases tr{
    position: relative;
    height: 40px;
    font-size: 15pt;
    display: table;
    width: 100%;
}

#databases div.plus{
    background-image: url("/static/images/plus.png");
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#databases tr.opened div.plus{
    background-image: url("/static/images/minus.ico");
    width: 18px;
    margin: 3px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#databases td{    
    padding: 8px;
}
#databases tr.inactive{
    color: grey;
    cursor: default;
}
#databases div.refresh {
    background-image: url('/static/images/refresh.png');
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    bottom: 10px;
}

#input_search {
    float: left;
    width: 240px;
    line-height: 30px;
    padding: 0 0 0 10;
    margin: 0 0 0 28;
    border-radius: 5px 0px 0px 5px;
}
#btn_search{
    float: left;
    background-image: url('/static/images/search.png');
    padding: 5px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 5px 5px 0px;
}
.clearBoth{
    clear:both;
}

form{
    margin: 0;
}

#tree_and_plots{
    /*top: 80px;*/
    position: relative;
}
#tree_plots{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
#tree_part{
    width: 25vw;
    height: 100%;
}

#linetype label,#synchronization label{
    font-weight: normal;
}
.menu_chosen{
    text-decoration: underline;
}

#topnav{
    z-index: 10;
    background-color: lightgray;
    width: 100%;
    top: 3px;
}
#topnav table{
    width: 100%;
}
.white_space{
    width: 99%;
}
#search_line{
    display: flex;
}
#topmenu{
    /*position: fixed;*/
    background-color: white;
    z-index: 10;
    width: 100%;
}
#topnav td{
    padding: 20px;
    white-space: nowrap;
}
#syncronize_text{
    margin: 0px;
    padding-bottom: 5px;
}

.menu-item{
    font-size: 18px;
    cursor: pointer;
    margin: 35px;
}
.dropbtn {
    font-size: 18px;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    left: 10px;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

#main_title {
    font-size: 27px;
    text-align: center;
    margin: 24px;
}
#main_text{
    margin: 0px 35px;
    text-align: justify;
    font-size: 16px;
}
#dbui_menu{
    margin: 0 0 25px 10px;
}
.menu-item:hover{
    text-decoration: none;
}
a:hover{
    text-decoration: none!important;
}
a{
    color: black!important;
}
#main_page_link{
    text-decoration: underline;
}

ul {
    padding: 0;
    list-style: none;
}
.item {
    margin-bottom: 40px
}
.item a {
    display: inline-block;
    margin: 1px 0;
    padding: 3px 6px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #222;
    border-radius: 3px
}
.item a:hover {
    background-color: #0ae
}
.item li a {
    width: 60px
}
.item pre {
    margin-top: 6px
}
.item code {
    padding: 3px 6px;
    background: #fafafa;
    border: 1px solid #eee
}
input {
    /*display: block*/
}
    /* Tooltip -Styles */
.tooltip {
    padding: 5px;
    font-size: 11px;
    opacity: 0.85;
    filter: alpha(opacity=85);
    background-repeat: no-repeat;
    background-image: url(tooltip.gif);
}
.tooltip-inner {
    padding: 5px 10px;
    max-width: 200px;
    pointer-events: none;
    color: white;
    text-align: center;
    background-color: dimgray;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.tooltip-bottom {
    background-position: top center;
}
.tooltip-top {
    background-position: bottom center;
}
.tooltip-left {
    background-position: right center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: dimgray;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px dimgray;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #grid_v3v4_check_all{
      display: none;
  }




* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-panel {
    flex-grow: 1;
    display: flex;
    min-height: 0; /* can NOT work without this line!! */
}

.nav-flex-container {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.nav-right-container {
    display: flex;
    flex-direction: column;
}

.nav-scrollable-content {
    flex-grow: 1;
    overflow: auto;
}
